body {
    font-family: 'Poppins', sans-serif;
}


/* Message */

.message {
    color: #ffffff;
    padding-top: 10px;
    text-align: center;
    background-color: #EF5B67;
    font-weight: 300;
    padding-bottom: -5px;
}

.message a {
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
}


/* End message */

.hero-banner {
    padding-top: 150px;
    padding-bottom: 100px;
    background-color: aquamarine;
}