body {
    font-family: 'Poppins', sans-serif;
}

b {
    font-weight: 600;
}

.jumbotron .img-hero {
    margin-bottom: 20px;
}

.message {
    font-weight: 600;
    color: #ffffff;
    background: #E84855;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding-top: 10px;
}

.message a {
    color: #ffffff;
    text-decoration: underline;
}

.cta {
    background-color: #E84855;
    border-style: none;
    border-radius: 0.7em;
}

.tribe {
    text-align: center;
    margin-top: -32px;
    background-color: #189EA5;
    padding-top: 20px;
    padding-bottom: 20px;
}

.tribe .img-tribe {
    width: 80%;
}

.prodi h2 {
    margin-top: 60px;
    margin-bottom: 70px;
    text-align: center;
    font-weight: 600;
}

.prodi h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 600;
    color: #E84855;
}

.prodi p {
    color: #189EA5;
}

.prodi h4 {
    margin-bottom: 20px;
}

.alur {
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: #fafafa;
}

.alur iframe {
    border-radius: 0.7em;
}

.alur h3 {
    color: #E84855;
    font-weight: 600;
    margin-bottom: 20px;
}

.keunggulan {
    padding-top: 40px;
    padding-bottom: 60px;
}

.keunggulan .card {
    background-color: #189EA5;
    color: #ffffff;
    border-style: none;
    border-radius: 1em;
}

.keunggulan h2 {
    margin-top: 20px;
    margin-bottom: 60px;
    text-align: center;
    font-weight: 600;
}

.keunggulan p {
    padding-top: 15px;
    text-align: center;
}

.testimoni {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #fafafa;
}

.card {
    border-radius: 1em;
}

.card img {
    margin-left: 105px;
    margin-bottom: 10px;
    width: 100px;
    border-radius: 100em;
}

.footer a {
    color: #ffffff;
    text-decoration: none;
}

@media (min-width: 768px) {
    .jumbotron {
        margin-top: 40px;
        background-image: url(/img/herobanner/putri1.png);
        background-size: cover;
        height: 480px;
        margin-bottom: -65px;
        background-position: -30px -60px;
        background-repeat: no-repeat;
    }
    .jumbotron .img-hero {
        margin-top: 0px;
    }
    .jumbotron h1 {
        font-size: 22px;
    }
    .jumbotron p {
        font-size: 14px;
    }
    .jumbotron a {
        font-size: 12px;
    }
    .prodi img {
        width: 320px;
    }
    .prodi h3 {
        font-size: 20px;
    }
    .prodi p {
        font-size: 12px;
    }
    .prodi h4 {
        font-size: 15px;
    }
    .prodi a {
        font-size: 9px;
    }
    .alur iframe {
        width: 320px;
        height: 220px;
    }
    .alur h3 {
        font-size: 20px;
    }
    .alur p {
        font-size: 12px;
    }
    .alur a {
        font-size: 10px;
    }
    .keunggulan h2 {
        margin-top: 20px;
        margin-bottom: 60px;
        text-align: center;
        font-weight: 600;
    }
    .keunggulan p {
        padding-top: 15px;
        font-size: 9px;
        text-align: center;
    }
    .card {
        border-radius: 1em;
    }
    .card img {
        margin-left: 80px;
        margin-bottom: 10px;
        width: 100px;
        border-radius: 100em;
    }
    .card blockquote p {
        font-size: 14px;
    }
    .card blockquote footer {
        font-size: 12px;
    }
    .footer {
        padding-top: 20px;
        padding-bottom: 10px;
        text-align: center;
        color: #ffffff;
        background-color: #189EA5;
    }
    .footer p {
        font-size: 13px;
        margin-top: 20px;
    }
}

@media (min-width: 992px) {
    .jumbotron {
        margin-top: 40px;
        background-image: url(/img/herobanner/putri1.png);
        background-size: cover;
        height: 500px;
        background-position: 0px -60px;
        background-repeat: no-repeat;
    }
    .jumbotron .img-hero {
        margin-top: 0px;
    }
    .jumbotron h1 {
        font-size: 29px;
    }
    .jumbotron p {
        font-size: 18px;
    }
    .prodi img {
        width: 420px;
    }
    .prodi h3 {
        font-size: 23px;
    }
    .prodi p {
        font-size: 15px;
    }
    .prodi h4 {
        font-size: 20px;
    }
    .prodi a {
        font-size: 13px;
    }
    .alur iframe {
        width: 450px;
        height: 280px;
    }
    .alur h3 {
        font-size: 23px;
    }
    .alur p {
        font-size: 15px;
    }
    .alur a {
        font-size: 13px;
    }
    .keunggulan h2 {
        margin-top: 20px;
        margin-bottom: 60px;
        text-align: center;
        font-weight: 600;
    }
    .keunggulan p {
        padding-top: 15px;
        font-size: 13px;
        text-align: center;
    }
    .card {
        border-radius: 1em;
    }
    .card img {
        margin-left: 80px;
        margin-bottom: 10px;
        width: 100px;
        border-radius: 100em;
    }
    .card blockquote p {
        font-size: 14px;
    }
    .card blockquote footer {
        font-size: 12px;
    }
    .footer {
        padding-top: 20px;
        padding-bottom: 10px;
        text-align: center;
        color: #ffffff;
        background-color: #189EA5;
    }
    .footer p {
        font-size: 13px;
        margin-top: 20px;
    }
}

@media (min-width: 1200px) {
    .jumbotron {
        margin-top: 40px;
        background-image: url(/img/herobanner/putri1.png);
        background-size: cover;
        height: 774px;
        background-position: 0px -170px;
        background-repeat: no-repeat;
    }
    .jumbotron .img-hero {
        margin-top: 70px;
    }
    .jumbotron h1 {
        font-size: 50px;
    }
    .jumbotron p {
        font-size: 20px;
    }
    .prodi img {
        width: 500px;
    }
    .prodi h3 {
        font-size: 30px;
    }
    .prodi p {
        font-size: 16px;
    }
    .prodi h4 {
        font-size: 20px;
    }
    .prodi a {
        font-size: 15px;
    }
    .alur iframe {
        width: 530px;
        height: 280px;
    }
    .alur h3 {
        font-size: 30px;
    }
    .alur p {
        font-size: 16px;
    }
    .alur a {
        font-size: 15px;
    }
    .keunggulan h2 {
        margin-top: 20px;
        margin-bottom: 60px;
        text-align: center;
        font-weight: 600;
    }
    .keunggulan p {
        padding-top: 15px;
        font-size: 18px;
        text-align: center;
    }
    .card {
        border-radius: 1em;
    }
    .card img {
        margin-left: 105px;
        margin-bottom: 10px;
        width: 100px;
        border-radius: 100em;
    }
    .card blockquote p {
        font-size: 17px;
    }
    .card blockquote footer {
        font-size: 14px;
    }
    .footer {
        padding-top: 20px;
        padding-bottom: 10px;
        text-align: center;
        color: #ffffff;
        background-color: #189EA5;
    }
    .footer p {
        font-size: 17px;
        margin-top: 20px;
    }
}